<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- keep console log colors configured in spring boot -->
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <logger name="org.hibernate.tool.hbm2ddl" level="WARN" />
    <logger name="org.hibernate.cache.ehcache" level="ERROR" />

    <logger name="org.hibernate.SQL" level="INFO" />
    <logger name="org.hibernate" level="ERROR" />

    <logger name="org.springframework.web" level="INFO" />

    <logger name="net.sf.ehcache.pool.sizeof.SizeOf" level="ERROR" />

    <!-- Setting the root level of logging to INFO -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
